<h4><strong>Consulta de Produtos</strong></h4>
<Strong><p>Listagem de Produtos Cadastrados</p></Strong>

<table class="table table-over table-sm">
  <thead>
    <tr>
      <!--<td>ID</td>-->
      <td>Nome</td>
      <td>Preço</td>
      <td>Quantidade</td>
      <td>Total</td>
      <td>Descrição</td>
      <td>Operações</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produtos">
      <!--<td>{{p.idProduto}}</td>-->
      <td>{{p.nome}}</td>
      <td>{{p.preco | currency: 'R$ '}}</td>
      <td>{{p.qtd}}</td>
      <td>{{p.preco*p.qtd | currency: 'R$ '}}</td>
      <td>{{p.descricao}}</td>
      <td>
        <button class="btn btn-outline-success p-2 opacity-100"  [routerLink]="['/editar-produtos',p.idProduto]">Editar</button>&nbsp;
        <button class="btn btn-outline-danger p-2 opacity-100" (click)="excluir(p.idProduto)">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">Total de Registros: {{produtos.length}}</td>
    </tr>
  </tfoot>
</table>
