<h4><p>Cadastro de Produtos</p></h4>

<form>
  <div class="row mb-3">
    <div class="col-md-6">
      <label>Nome do Produto</label>
      <input type="text" class="form-control"/>
    </div>
    <div class="col-md-3">
      <label>Preço</label>
      <input type="text" placeholder="R$ 00,0" class="form-control"/>
    </div>
    <div class="col-md-3">
      <label>Quantidade</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <label>Descrição do Item</label>
      <input cols="30" rows="4" style="resize: none" class="form-control"/>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <input type="submit" class="btn btn-success   p-2 text-light bg-opacity-25" value="Realizar Cadastro"/>
    </div>

  </div>

</form>
